.js-controls {
	width: 320px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgb(32,160,233);
	padding: 11px;
	box-sizing: border-box;
}

.js-example {
	margin: 11px 0;
	padding: 11px;
	font-size: 12px;
	background: white;
	color: rgb(32,160,233);
	cursor: pointer;
	word-wrap: break-word;
}
.js-example pre {
	white-space: pre-wrap;
}
.js-example:hover {
	border-bottom: 1px solid rgb(24,63,84);
	border-right: 1px solid rgb(24,63,84);
	padding: 11px 10px 10px 11px;
	background: rgb(245,245,245);
}
